main {
    min-height: 100vh;
}


.heroIntro {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
}

.container {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
}

.containerSection {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-template-columns: repeat(3, 100px);
}

.calculatorContainer {
    
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    justify-content: center;
    gap: 10px;

}

.item5 {
    grid-column: 5;
}

.item2{
    background-color: brown;
    grid-row: 2/4;
    z-index: 1;
    
}

.itemEquals {
    background-color: aqua;
    grid-area: 4 / 1 / 5 / 3;
    z-index: 2;
}

.itemDisplay {
    background-color: blueviolet;
    grid-area: 1 / 1 /1 / 6;
}

.itemResult {
    background-color: red;
    grid-area: 4 / 5;
}